<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {{!-- Tempus Dominus --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

  <link rel="stylesheet" href="/styles/styles.css" media="screen" charset="utf-8">
  <title>PRO-Pal - Stop Procrastinating!</title>
</head>

<body>
  {{{body}}}
</body>

</html>